<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/navigation.css">

    <title>Homepage</title>
</head>
<body>
    <nav id="above-nav">
        <span id="p">Free shipping on orders over $200</span>
    </nav>
    <%-include('./shared/includes/header')%>
    <main>
        <h1>Welcome to our online shop</h1>
        <h2>Browse , buy and enjoy from the comfort of your home</h2>
    </main>
    <script src="/scripts/script.js"></script>
</body>
</html>