<ul class="nav-items">
  <%if(!locals.isAuth) {%>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/login">Login</a></li>
    <% }%>
    <%if(locals.isAuth) {%>
<button class="btn">Logout</button>
      <% }%>
  </ul>