* {
  box-sizing: border-box;
}
html {
  font-family: "Roboto Flex", sans-serif;
}

body {
  background-color: rgb(243, 236, 230);
  color: rgb(37, 34, 31);
  margin: 0;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color:rgb(37, 34, 31);
}

.btn{
  font-family: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 2px;
  border:1px solid rgb(37, 34, 31);
  background-color: transparent;
  color: rgb(99, 92, 86);
}

.btn:hover, .btn:active{
  background-color: rgb(99, 92, 86);
  color: rgb(243, 236, 230);
  border: 1px solid rgb(99, 92, 86);
}


.btn-alt{
  background-color: rgb(99, 92, 86);
  color: rgb(243, 236, 230);
  border: 1px solid rgb(99, 92, 86);
}
.btn-alt:hover , .btn-alt:active{
  color: rgb(99, 92, 86);
  background-color: rgb(243, 236, 230);
  border:1px solid rgb(37, 34, 31);
}

.alert {
  border-radius: 6px;
  background-color:rgb(255, 192, 180);
  color: rgb(199, 51, 15);
  padding: 1rem
}
.alert h2 {
  font-size: 1rem;
  margin: 0.25rem 0 ; 
  text-transform: uppercase;
}
.alert p {
  margin: 0.5rem 0;
}