<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/navigation.css">
    <link rel="stylesheet" href="/styles/products.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400&display=swap" rel="stylesheet">
    
    <title>All Products</title>
</head>
<body>
    <%-include('../../shared/includes/header')%>
    <main>
        <h1>Product Administration</h1>
        <section>
          <h2>Manage Products</h2>
          <p>
            <a href="/admin/products/new" class="btn">Add Product</a>
          </p>
        </section>
        <section>
          <ul id="products-grid">
            <% for (const product of products) { %>
            <li><%- include('../../shared/includes/product-item', { product: product }) %></li>
            <% } %>
          </ul>
        </section>
      </main>
    <script src="/scripts/script.js"></script>
</body>
</html>